<h1 class="page-header">道具</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>序号</th>
        <th>名称</th>
        <th>类型</th>
        <th>道具说明</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="prop in props">
        <td>{{$index}}</td>
        <td><a href="/#!/prop/{{prop.id}}">{{prop.name.cn}}</a></td>
        <td>{{prop.type}}</td>
        <td>{{prop.desc}}</td>
        <td><button class="btn btn-xs btn-primary" ng-click="remove($index)">删除</button></td>
      </tr>
    </tbody>
  </table>
</div>